<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HEMALanguage" value="en-US"/>
    <add key="DescriptionLanguage" value="en-US"/>
    <add key="connectionString" value="Data Source=DESKTOP-AMK1P1C\MSSQLSERVER02;Initial Catalog=SchoolManagement;integrated security=true;Connection Timeout =200;Min Pool Size = 40;Max Pool Size = 400;"/>

    <add key="ServerBackupFolder" value="E:\"/>
    <add key="ServerImageFolder" value="\Document\"/>
    <add key="serveruser" value="administrator"/>
    <add key="serverpass" value="prasad"/>
    <add key="ShowErr" value="True"/>
    <add key="PositionSeparator" value="."/>
    <add key="ReportText" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web> 
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership> 
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
