<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HEMALanguage" value="en-US"/>
    <add key="DescriptionLanguage" value="en-US"/>
    <add key="connectionString" value="Data Source=Prasad-Solution;Initial Catalog=HEMA11 ;Integrated Security=True;Connection Timeout = 0;Min Pool Size = 40;Max Pool Size = 400;"/>
    <!--<add key="connectionString2" value="Data Source=Prasad-Solution;Initial Catalog=HEMA;Integrated Security=True;Connection Timeout = 0;Min Pool Size = 40;Max Pool Size = 400;"/>-->
    <add key="ShowErr" value="True"/>
    <add key="PositionSeparator" value="."/>
    <add key="ReportText" value=""/>
  </appSettings>
</configuration>
